<section class="mt-16 px-6 lg:px-32">
  <div class="grid grid-cols-1 lg:grid-cols-2 justify-items-center pt-16 gap-16 lg:gap-32">
    <div class="flex flex-col flex-1 gap-8">
      <h1 class="font-semibold text-5xl">Hi! We Are <span
        class="block py-6 font-extrabold tracking-wide">{{"Waslni"|uppercase}}</span></h1>
      <p>For us, it's not just about bringing you good food from your favourite restaurants. It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Join us!</p>
      <div class="flex gap-16">
        <p class="text-4xl">4.7M+<span class=" text-sm block">successfully Delivery</span></p>
        <p class="text-4xl">350K+<span class=" text-sm block">Loyal customers</span></p>
      </div>

      <div class="flex flex-nowrap pt-6 justify-start items-center gap-6">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face1.jpg" alt="">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face2.jpg" alt="">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face3.jpg" alt="">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face4.jpg" alt="">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face5.jpg" alt="">
        <img class="h-12 w-12 lg:h-16 lg:w-16 object-cover rounded-full border border-gray-400 -m-5 grayscale"
             src="../../../assets/images/img/face6.jpg" alt="">
        <p id="Abouth-12 w-12 lg:Us" class="text-xl font-semibold ml-2 whitespace-nowrap ">+ <span
          class="">Happy customers</span></p>
      </div>
      <div class="flex lg:flex-row justify-start items-center flex-shrink-0 h-fit flex-wrap mt-16 gap-8 w-full">
        <app-primary-btn text="Subscribe" link="/SignIn" class="w-full lg:w-fit"></app-primary-btn>
        <img class="h-4 lg:md:h-6" src="../../../assets/images/logos/paypalLogo.svg" alt="">
        <img class="h-4 lg:md:h-6" src="../../../assets/images/logos/mcLogo.svg" alt="">
        <img class="h-4 lg:md:h-6" src="../../../assets/images/logos/visaLogo.svg" alt="">
        <img class="h-4 lg:md:h-6" src="../../../assets/images/logos/madaLogo.svg" alt="">
        <img class="h-4 lg:md:h-6" src="../../../assets/images/logos/applepayLogo.svg" alt="">
      </div>
    </div>
    <div class="relative flex justify-center relative lg:w-144 h-auto">
      <img class="" src="../../../assets/images/img/delivaryman.png" alt="">
      <img class="absolute p-4 h-16 hidden lg:block top-52 left-16 bg-white rounded-full"
           src="../../../assets/images/logos/googleLogo.png" alt="">
      <img class="absolute p-4 h-16 hidden lg:block bottom-52 right-6 bg-white rounded-full"
           src="../../../assets/images/logos/facebookLogo.png" alt="">
      <img class="absolute p-4 h-16 hidden lg:block top-16 right-6 bg-gray-100 rounded-full"
           src="../../../assets/images/logos/twitterLogo.png" alt="">

      <div class="absolute bg-primary-color hidden lg:block w-96 h-96 rounded-full top-0 left-0 -z-10 opacity-50"></div>
      <div
        class="absolute bg-secondary-color hidden lg:block w-96 h-96 rounded-full bottom-0 lg:-right-16 -z-10  opacity-50"></div>
    </div>
  </div>
</section>

<section class="text-white bg-primary-color p-6 lg:p-16">
  <div class="grid grid-cols-1 lg:grid-cols-4 items-start text-center gap-3 ">
    <div class="flex text-3xl w-auto h-full gap-6 justify-between lg:justify-center">
      <p class="whitespace-nowrap">Partners</p>
      <span class="font-bold lg:rotate-90">18</span>
    </div>

    <div class="flex  text-3xl w-auto h-full justify-between lg:justify-center">
      <p class="whitespace-nowrap">Services</p>
      <span class="font-bold lg:rotate-90">15+</span>
    </div>
    <div class="flex  text-3xl w-auto h-full justify-between lg:justify-center">
      <p class="whitespace-nowrap">Product</p>
      <span class="font-bold lg:rotate-90">10m</span>
    </div>
    <div class="flex  text-3xl w-auto h-full justify-between lg:justify-center">
      <p class="whitespace-nowrap">New Customers</p>
      <span class="font-bold lg:rotate-90">475+</span>
    </div>
  </div>
</section>

<section class="p-6 lg:px-32 h-fit mb-32">
  <div class="flex flex-col mt-32 gap-8">
    <h2 class="text-2xl lg:text-5xl"><img class="inline bg-white h-8 w-8 lg:h-10 lg:w-10 mr-6 rounded-full"
                                          src="../../../assets/images/icons/startIcon.svg" alt="">We've got a pricing plan <br>that's
      perfect for you</h2>
    <p>We believe Untitled should be accessible to all companies, no matter the size</p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-4 mt-16 shrink-0 gap-16 content-center justify-items-center">
    <div
      class="flex flex-col w-fit  bg-gray-100 text-gray-600 p-6  rounded-lg lg:col-start-2 shadow-md shadow-gray-400">
      <h3 class="text-xl font-bold">Basic plan</h3>
      <p>Our most popular plan</p>
      <p class="text-4xl font-bold mt-16 mb-6">$9.99<span class="text-sm">/month</span></p>
      <app-primary-btn text="Get started" class="items-center" link="/subscribe"></app-primary-btn>
    </div>

    <div
      class="flex flex-col w-fit  bg-gray-100 text-gray-600 p-6  rounded-lg lg:col-start-3 shadow-md shadow-gray-400 relative overflow-hidden">
      <p class="absolute -top-0 left-1/2 -translate-x-1/2 font-extrabold bg-primary-color text-white w-full text-center">Best</p>
      <h3 class="text-xl font-bold">Personal plan</h3>
      <p>Our recommended plan</p>
      <p class="text-4xl font-bold mt-16 mb-6">$19.99<span class="text-sm">/month</span></p>
      <app-primary-btn text="Get started" class="items-center " link="/subscribe">></app-primary-btn>
    </div>
    <div
      class="flex flex-col w-fit  bg-gray-100 text-gray-600 p-6  rounded-lg lg:col-start-4 shadow-md shadow-gray-400">
      <h3 class="text-xl font-bold">professional plan</h3>
      <p>Our extreme plan</p>
      <p class="text-4xl font-bold mt-16 mb-6">$29.99<span class="text-sm">/month</span></p>
      <app-primary-btn text="Get started" class="items-center " link="/subscribe">></app-primary-btn>
    </div>
  </div>

  <div>
    <h3 class="mt-16 border-b-2 border-black font-semibold text-lg">Features</h3>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">basic feature</p>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
    </div>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Next day delivery</p>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
    </div>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Fast Delivery</p>
      <fa-icon [icon]="circleX" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleX" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>

    </div>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Deliveries</p>
      <p class="text-center">3</p>
      <p class="text-center">10</p>
      <p class="text-center">25</p>
    </div>
  </div>

  <div>
    <h3 class="mt-16 border-b-2 border-black font-semibold text-lg">Support</h3>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Basic support</p>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
    </div>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Life support</p>
      <fa-icon [icon]="circleX" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>
    </div>
    <div class="grid grid-cols-5 lg:grid-cols-4 py-4 shrink-0 gap-16 border-b border-gray-400">
      <p class="whitespace-nowrap col-span-2 lg:col-span-1">Refund</p>
      <fa-icon [icon]="circleX" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleX" class="text-2xl text-center"></fa-icon>
      <fa-icon [icon]="circleCheck" class="text-2xl text-center"></fa-icon>

    </div>
  </div>
</section>


